html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth; 
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  transition: all 0.3s;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Regular.eot");
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"),
    url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Regular.woff") format("woff"),
    url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Medium.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"),
    url("SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Medium.woff2") format("woff2"),
    url("SFUIDisplay-Medium.woff") format("woff"),
    url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Semibold.eot");
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"),
    url("../fonts/SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --accent-color: #ff6e41;
  --black: #24262b;
  --gray: #595e6c;
  --light-gray: #cacad6;
  --off-white: #faf8f7;
}

body {
  font: normal 16px "SF UI Display", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--off-white);
  color: var(--gray);
}
* {
  margin: 0;
  box-sizing: border-box;
}
hr {
  border-bottom: 1px solid var(--light-gray);
}
p {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: 1.3rem;
  margin-bottom: 0.25rem;
}
a {
  color: var(--gray);
}
a[target="_blank"] {
  color: var(--accent-color);
}
a:hover {
  color: var(--light-gray);
}
ul {
  padding-left: 1rem;
}
ul li {
  margin-bottom: 0.25rem;
}

.checkmark-list,
.triangle-list {
  padding: 0;
}
.checkmark-list:not(:last-child),
.triangle-list:not(:last-child) {
  margin-bottom: 0.75rem;
}
.checkmark-list li,
.triangle-list li {
  list-style: none;
  position: relative;
  padding: 0 0 0 1.2rem;
  margin-bottom: 0.5rem;
}
.checkmark-list li::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid var(--accent-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkmark-list + p {
  margin-top: 1.5rem;
}

.triangle-list li::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.275rem 0rem 0.275rem 0.275rem; /* размер и форма */ 
  border-color: transparent transparent transparent var(--accent-color); 
}

.highlight {
  background-color: var(--gray);
  color: var(--light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
}
.highlight code {
  white-space: pre-wrap;
  line-height: 1.4rem;
}
.highlight .kd,
.highlight .k {
  color: #cd4759;
}
.highlight .o {
  color: #4f8eff;
}
.highlight .nb {
  color: #c4d123;
}
.highlight .kc {
  color: #1ccf3d;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 1.1875rem;
  padding-right: 1.1875rem;
  margin-right: auto;
  margin-left: auto;
}

.page-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.5rem;
}
.page-wrap::before {
  content: "";
  height: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--accent-color);
  z-index: 10;
}
.nav-wrap-main {
  position: sticky;
  top: 0.5rem;
  background-color: var(--off-white);
  z-index: 10;
}
.nav-main {
  border-bottom: 1px solid var(--light-gray);
}
.main-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.main-menu li {
  margin-bottom: 0;
}
.main-menu a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  font-size: 1.25rem;
}
.main-menu a:hover {
  color: var(--accent-color);
}
.content-wrap {
  padding-left: 1.1875rem;
  padding-right: 1.1875rem;
}
.page-wrap > * {
  flex-shrink: 0;
}
.header-wrap {
  display: flex;
  padding-top: 1.875rem;
}
.page-header {
  flex-grow: 1;
  max-width: 70%;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--light-gray);
}
.page-header,
.main-content,
.footer-content {
  margin-right: 2.375rem;
}
.main-title {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 3.6363rem;
  line-height: 1.2;
  color: var(--black);
  margin: 0;
  margin-bottom: 0.75rem;
}
.main-subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4545rem;
  line-height: 1.7272rem;
  color: var(--gray);
  margin: 0;
}
.page-header-image {
  display: block;
  width: 100%;
  max-width: 7rem;
  max-height: 7rem;
  object-fit: cover;
  border-radius: 0.35rem;
  flex-shrink: 0;
}
.aside {
  max-width: 30%;
  width: 100%;
}
.header-wrap .aside {
  border-bottom: 1px solid var(--light-gray);
}
.main-wrap {
  display: flex;
}
.main-content {
  padding-top: 1rem;
  padding-bottom: 4rem;
  max-width: 70%;
}
.content-section {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-heading {
  padding-right: 1.1818rem;
  max-width: 20%;
  width: 100%;
  flex-shrink: 0;
}
.section-title,
.aside-title {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8181rem;
  line-height: 1rem;
  color: var(--black);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  display: block;
  height: 0.5rem;
  width: 3.4545rem;
  background-color: var(--accent-color);
}
.aside-title::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  display: block;
  height: 0.25rem;
  width: 2.5rem;
  background-color: var(--accent-color);
}
.section-description {
  flex-grow: 1;
  max-width: 80%;
  width: 100%;
}
.section-description p {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}
.main-wrap .aside {
  padding-top: 1rem;
}
.aside-section {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}
.aside-title {
  margin-bottom: 1rem;
}
.aside-description {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8181rem;
  line-height: 1rem;
  color: var(--gray);
}

.page-footer {
  margin-top: auto;
}
.footer-inner {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--light-gray);
}
.footer-content {
  display: flex;
  align-items: center;
  max-width: 70%;
  width: 100%;
  margin-left: 0;
  margin-right: 3.75rem;
}
.footer-description,
.footer-copy {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8181rem;
  line-height: 1rem;
  color: var(--gray);
}
.gh-logo {
  display: block;
  width: 32px;
  margin-right: 2rem;
}
.rsschool-logo {
  display: block;
  width: 85px;
}

.btn-menu-toggle {
  display: none;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  background-color: var(--off-white);
}
.btn-menu-toggle span {
  display: block;
  height: 2px;
  width: 2rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent-color);
  transition: all 0.3s;
}
.btn-menu-toggle span:last-child {
  margin-bottom: 0;
}
.btn-menu-toggle.active span {
  margin-bottom: 0;
}
.btn-menu-toggle.active span:nth-child(2) {
  display: none;
}
.btn-menu-toggle.active span:first-child {
  transform: rotate(45deg) translate(-3px, 3px);
  margin-bottom: -1px;
}
.btn-menu-toggle.active span:last-child {
  transform: rotate(-45deg) translate(-3px, -3px);
}

@media (max-width: 768px) {
  .header-wrap,
  .main-wrap,
  .content-section {
    flex-wrap: wrap;
  }
  .main-title {
    font-size: 2.6rem;
  }
  .page-header,
  .aside,
  .main-content,
  .footer-content,
  .section-heading,
  .section-description {
    max-width: unset;
    width: 100%;
  }
  .page-header,
  .main-content,
  .footer-content {
    margin-right: 0;
  }
  .main-content {
    order: 1;
  }
  .main-wrap > .aside {
    order: 0;
  }
  .header-wrap .aside {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .section-title {
    margin-bottom: 1.75rem;
  }
  .section-description p {
    font-size: 0.875rem;
  }
  .footer-inner .aside {
    width: auto;
    margin-left: auto;
  }

  .nav-wrap-main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .btn-menu-toggle {
    display: block;
    position: relative;
    z-index: 12;
  }
  .nav-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
    overflow: auto;
    padding-top: 50px;
    transform: translateX(101%);
    transition: transform 0.5s;
  }
  .nav-main.show {
    transform: translate(0, 0);
    transition: transform 0.5s;
    z-index: 11;
  }
  .main-menu {
    padding-top: 20px;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .main-menu a {
    padding: 0.75rem 1rem;
  }
}
